In [78]:
# Import pandas
import pandas as pd

In [79]:
# Read and view data into pandas dataframe
data = pd.read_csv("sales_data.csv")
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [80]:
# Finding the missing values
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [81]:
# Drop the missing values
df = data.dropna().copy()

In [82]:
# Check for duplicates
df.duplicated().sum()

np.int64(5225)

In [83]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [84]:
# Type cast
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [85]:
# Change the datatype of InvoiceDate from object to datetime
df['InvoiceDate'] = pd.to_datetime(df.InvoiceDate,  format= "%d-%m-%Y %H:%M")

In [86]:
# Database set
from sqlalchemy import create_engine
mysql_engine = create_engine('mysql://root:sashanth@localhost:3306/retail_data')

In [ ]:
#Load data into mysql table
df.to_sql('sales_data',mysql_engine ,index = False, if_exists='append')